
.products {
	text-align:center;
	height:420px;
}

@font-face{
	font-family:realitysunday;
	src:url(../fonts/realitysunday/RealitySunday.ttf);
}

@font-face{
	font-family:dragon;
	src:url(../fonts/dragon/dragon.ttf);
}

@font-face{
	font-family:ristella;
	src:url(../fonts/ristera/ristella.ttf);
}

.products h1{
	font-family:realitysunday; 
	font-size:100px;
}

.products p {
	font-size:35px; 
	font-style:oblique;
}